h1 {
	text-align: center;
	background-color: black !important;
	color: #ccc !important;
	font-family: 'Audiowide', cursive;
	border-top: solid 5px #00FFCD;
	border-bottom: solid 5px #00FFCD;
}

h2,
ul, 
li {
	font-family: 'VT323', monospace;
}

body {
	background: url("../images/bladerunner_background.jpg");
}

h2 {
	color: #ccc;
}

img {
	width: 100%;
}

#gameColumn {
	border: solid 5px #00FFCD;
	background-color: black;
	padding-bottom: 150px;
}

.correctLetters {
	display: inline-block;
	width: 20px;
	border-bottom: 2px #ccc solid;
	margin: 0 5px;
	color: black;
	text-align: center;
}

.correct {
	color: teal;
}

#incorrectLetters {
	display: inline-block;
	width: 20px;
	border: 2px #ccc solid;
	margin: 0 5px;
	color: white;
	text-align: center;
}

	