h1 {
	text-align: center;
	background-image: url("../images/bladerunner_background.jpg") !important;
	color: #ccc !important;
	font-family: 'Orbitron', sans-serif;
	border-top: solid 5px #00FFCD;
	border-bottom: solid 5px #00FFCD;
	font-size: 46px;
}

h2,
ul, 
li {
	font-family: 'VT323', monospace;
}

body {
	background: url("../images/bladerunner4.jpg");
}

h2 {
	color: #ccc;
}

img {
	width: 100%;
}

#gameColumn {
	border: solid 5px #00FFCD;
	background-color: black;
	padding-bottom: 100px;
}

#hint-col {
	border: solid 5px #00FFCD;
	background-color: black;
	text-align: center;
	padding-bottom: 20px;
}

#output-col {
	margin-top: 40px;
	text-align: center;
	border: solid 5px #00FFCD;
	background-color: black;
	padding-bottom: 20px;
}

.correctLetters {
	display: inline-block;
	width: 20px;
	border-bottom: 2px #ccc solid;
	margin: 0 5px;
	color: black;
	text-align: center;
}

.correct {
	color: teal;
	text-transform: uppercase;
}

#incorrectLetters {
	display: inline-block;
	width: 20px;
	border: 2px #ccc solid;
	margin: 0 5px;
	color: white;
	text-align: center;
}

.hint {
	width: 100%;
}

.output {
	color: teal;
	text-transform: uppercase;
	border: 5px white solid;
	}
